@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-50: #f4f3ff;
  --color-primary-100: #ece9fe;
  --color-primary-200: #ddd6fd;
  --color-primary-300: #c4b5fc;
  --color-primary-400: #a387fa;
  --color-primary-500: #7c56f8;
  --color-primary-600: #5B3FFF;
  --color-primary-700: #4A2FE8;
  --color-primary-800: #3b21c4;
  --color-primary-900: #2d1899;
  --color-primary-950: #1c0f63;
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
